<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Register Form</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'register/images/favicon.png' %}"
    />
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'register/css/register_first.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Registration</h1>
      <form method="post">
        {% csrf_token %}
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">Full Name</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Enter Full Name"/>
          </div>
          <div class="user-input-box">
            <label for="username">Username</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Enter Username"/>
          </div>
          <div class="user-input-box">
            <label for="email">Email</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div>
          <div class="user-input-box">
            <label for="phoneNumber">Phone Number</label>
            <input type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Enter Phone Number"/>
          </div>
          <div class="user-input-box">
            <label for="password">Password</label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"/>
          </div>
          <div class="user-input-box">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm Password"/>
          </div>
        </div>
        <div class="gender-details-box">
          <span class="gender-title">Gender</span>
          <div class="gender-category">
            <input type="radio" name="gender" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="other">
            <label for="other">Other</label>
          </div>
        </div>
        <div class="language-details-box">
            <span class="language-title">Language</span>
            <div class="language-category">
              <input type="radio" name="language" id="Hindi">
              <label for="Hindi">Hindi</label>
              <input type="radio" name="language" id="English">
              <label for="English">English</label>
              <input type="radio" name="language" id="Urdu">
              <label for="Urdu">Urdu</label>
            </div>
          </div>
        <div class="form-submit-btn">
          <input type="submit" value="Register" >
        </div>
      </form>
    </div>
  </body>
</html>