{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'FaceDetection/css/style.css' %}">
<div class="eyebar">
  <p class="face">Face Detection</p>
</div>
<div class="container">
   <div class="upload-image py-5 text-center text-dark " id="Dabba">
    <p class="mb-3">Upload Image</p>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <input type="submit" id="submit" class="btn btn-success" value="Upload">
    </form>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {% if last_image %}
      <img src="{{ last_image.photo.url }}" alt="" class="card-img-top" id = "image" >
      <div class="card-footer">
        <small class="text-muted">{{ last_image.date }}</small>
      </div>
      {% endif %} 
    </div>
    <div class="image-data">
      <p>User Detail</p>
      <!-- Backend Code -->
      {% if final_name %}
      <h4> <span>Name </span>    :{{fir}}</h4>
      <h4><span>Nicknames</span>     :{{sec}}</h4>
      <h4><span>Born</span>     :{{thi}}</h4>
      <h4><span>Height</span>     :{{fou}}</h4>
      <h4><span>Wife /Husband</span>     :{{fiv}}</h4>
      <h4><span>Home</span>     :{{six}}</h4>
      <h4><span>Mother_name</span>     :{{sev}}</h4>
      <h4><span>Father_name</span>     :{{eig}}</h4>
      <h4><span>Profession</span>     :{{nine}}</h4>
      <img src="{{ ten }}" alt="">
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
