



{% extends 'dashboard/base.html' %}
{% block content %}

  
<div class="eyebar">
  <i class="bi bi-eye-fill"></i>
  <p class = "ta">Face Detection</p>
</div>

<div class="container">
    <div class="py-5 text-center text-dark "id="Dabba">
    <p class="mb-3">Upload Image</p>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <input type="submit" class="btn btn-success" value="Upload">
    </form>
</div>
    <div class="row">

            <div class="col-sm-4">
              
                {% if last_image %}
                <img src="{{ last_image.photo.url }}" alt="" class="card-img-top" height="200px">
                <div class="card-footer">
                    <small class="text-muted">{{ last_image.date }}</small>
                </div>
                {% endif %}

            </div>
    

    </div>
</div>
<!-- 
<form action="#" method="post">
  {% csrf_token %}
  <div class="form-submit-btn">
    <input type="submit" value="New Vide Throw Detect " >
  </div>
</form> -->


{% endblock %}
<!-- Add notifications content here -->

