{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'FaceDetection/css/style.css' %}">

  <div class="videoDetect-page">
    <form action="/face/video_show/" , method="post">
      {% csrf_token %}
      <div class = "all">
        <h1>Video Detect</h1>
      
        <p>You are detecting a person through video</p>
      
        <button type="submit">Click here!</button>
        
    <p>If You Stop The Video Throw Detection Presh Key one 1</p>
    
      </div>    
    </form>
  </div>



{% endblock %}



