@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.container {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 15px;
}
.row{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
  gap: 50px;
}
.col-sm-4{
  width: 40%;
}


.image-data{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-data p{
  font-size: 18px;
  color: rgb(118, 178, 202);
}
.image-data h4 span{
    font-weight: 600;

}
.image-data h4{
  font-weight: 400;
  font-family: Noto Sans;
}
.eyebar i {
  color: white;
  font-size: 100px;
  text-align: center;
}

.eyebar {
  display: flex;
  width: 100%;
  background-color: #333;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#Dabba p {
  font-size: 22px;
  font-weight: 600;
}

h1,
h2,
h3 {
  color: #333;
}

.mb-3 {
  margin: 20px;
  height: 30px;
  width: 150px;
  color: #333;
}





#image {
  height: 300px;
  width: 400px;
  margin-top: 50px;
  margin-left: 10%;
  /* border: 2px solid black; */
  border-radius: 15px;
  box-shadow: 4px 8px 10px 8px rgb(230, 230, 230);
}




.videoDetect-page{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.videoDetect-page form{
  text-align: center;
}

.all h1{
  font-size: 18px;
  line-height: 40px;
  font-family: sans-serif;
}

.all p{
  line-height: 25px;
}


.all button{
  background: rgb(80, 119, 133);
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 40px;
  margin: 10px 0;
  
}

.upload-image form{
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 10px;
}

.upload-image form #submit{
  border-radius: 40px;
  margin-right: 120px;
  background: rgb(118, 178, 202);
}