<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" href="{% static 'dashboard/css/base.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo"><img src ="https://imgs.search.brave.com/Op63nSQg9Za6Z1qfRK0vFg-Zu65vials2D0SkPjZ7iw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tYXBs/ZWNsb3VkLmNvbS5h/dS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8wMy9NYXBsZS1D/bG91ZC1Mb2dvLTIt/Mi5wbmc"></div>
        <div class = "links">
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'enemy_detection' %}">Enemy Detection</a>
        <a href="{% url 'notifications' %}">Notifications</a>
        <a href="{% url 'chart' %}">Charts</a>
        </div>
        <div class="logout">
            <p>Logout</p>
        </div>
        <!-- Add more links as needed -->
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <!-- Include JavaScript files -->
</body>
</html>


